.accordion-item{
font-family: 'Rajdhani', sans-serif;}


body{
    background-color: black;}


.row .col-12{
    height: 3em;
    font-size: xx-large;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-top: 0.5em;
    width: 100%;}


.row .col-2{
    height: 30em;}


.row img{
    padding-left: none;
    align-items: center;}


#carouselExampleDark{
    padding-top: 2em;
    width: 50%; 
    margin-left: 25em; 
    height: 30em;}


#carouselExampleIndicators{
    padding-top: 2em;
    width: 50%; 
    margin-left: 25em; 
    height: 30em;}


#carouselExampleControls{
    padding-top: 10em;
    width: 50%; 
    margin-left: 25em; 
    height: 30em;}

.carousel-control-prev{
    padding-top: 15em;}

.carousel-control-next{
    padding-top: 15em;}

#paluuNappi{
    margin-top: 13em;
    margin-left: 52em;
    background-color: black;
    color: rgb(70, 69, 69);
}

#tekstiKenttä{
    height:32em; 
    text-align:center; 
    margin-top: 4em;
}

#aarreKuvat{
    height: 25em; 
    width: 20em; 
    margin-left: none;
}